﻿
@{
    ViewData["Title"] = "WebApiTemplate";
}

<head>
    <meta charset="utf-8">
    <title>WebApiTemplate</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="static/@ViewData["styles"]">
</head>
<body>
    <app-root></app-root>

    <script type="text/javascript" src="static/@ViewData["runtime"]"></script>
    <script type="text/javascript" src="static/@ViewData["polyfills"]"></script>
    <script type="text/javascript" src="static/@ViewData["main"]"></script>
</body>

